# k8s/ai-worker.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-worker-deployment
  labels:
    app: ai-worker
spec:
  replicas: 1 # Um worker é suficiente, a menos que você tenha um volume muito alto de eventos
  selector:
    matchLabels:
      app: ai-worker
  template:
    metadata:
      labels:
        app: ai-worker
    spec:
      containers:
      - name: ai-worker
        image: ai-worker:v3 # <--- Você precisará construir essa imagem!
        imagePullPolicy: IfNotPresent 
        env:
        - name: REDIS_HOST # Usa o nome do Service do Redis
          value: "redis-service" 
        - name: DISCORD_WEBHOOK_URL # <--- MUITO IMPORTANTE!
          # Substitua este valor pelo URL real do seu Webhook do Discord.
          # Em um ambiente de produção, use um Secret do Kubernetes.
          value: "https://discord.com/api/webhooks/1450205021252616340/nf6f1CquwuB-7JCnWzejzGAfJZO-NKIcLg52TA23LmOw-iCEy7nAXjP-meGQylqy0uP6" 
        resources:
          requests: 
            memory: "64Mi"
            cpu: "100m"
          limits: 
            memory: "128Mi"
            cpu: "200m"