# k8s/ai-worker.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-worker-deployment
  labels:
    app: ai-worker
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: ai-worker
  template:
    metadata:
      labels:
        app: ai-worker
    spec:
      containers:
      - name: ai-worker
        # Mantenha a tag que você está usando (v8)
        image: ai-worker:v9 
        imagePullPolicy: IfNotPresent 
        env:
        - name: REDIS_HOST # Usa o nome do Service do Redis
          value: "redis-service" 
          
        - name: DISCORD_WEBHOOK_URL 
          valueFrom:
            secretKeyRef:
              name: discord-webhook-secret 
              key: webhook-url           
              
        resources:
          requests: 
            memory: "64Mi"
            cpu: "100m"
          limits: 
            memory: "128Mi"
            cpu: "200m"